.container-fluid {
  max-width: 1920px;
  width: 100%;
}

.button:focus,
.navbar-toggler:focus,
.dropdown-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.navbar-toggler:focus,
.dropdown-toggle:focus {
  -webkit-box-shadow: 6px 6px 2px 1px #d4b9bb;
  box-shadow: 6px 6px 2px 1px #d4b9bb;
  outline: 0;
}

a:hover {
  text-decoration: none;
}

.button:hover {
  color: #fff;
  background-color: #d4b9bb;
}

button.dropdown-toggle {
  border: none;
  background-color: transparent;
  color: #837880;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.dropdown-menu {
  border: none;
  background-color: #d4b9bb44;
  color: #837880;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

/*=============================NAV=====================================*/
.header {
  padding: 21px 0px 21px 160px;
  color: #837880;
  background-color: #ffffff88;
}

.header a {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #837880;
}

nav ul {
  margin-right: 45px;
}

.nav-link {
  padding-top: 20px;
  margin-left: 45px;
}

.lang {
  margin-right: 20px;
}

.lang a:first-child {
  padding-right: 11px;
}

.lang a:last-child {
  padding-left: 10px;
}

.social {
  padding-top: 8px;
}

.social a:last-child {
  margin-left: 15px;
}

.nav-item a:hover {
  color: #d4b9bb;
  text-decoration: none;
  border-bottom: 1px solid #d4b9bb;
  padding-bottom: 0;
  transition: 1s ease-in-out;
}

.lang a:hover {
  text-decoration: none;
  font-weight: 800;
  color: #d4b9bb;
}

.inst {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/instagram.png) no-repeat;
  white-space: nowrap;
  text-indent: 100%;
}

.fb {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/facebook.png) no-repeat;
  white-space: nowrap;
  text-indent: 100%;
}

.inst:hover {
  background: url(../img/instagram-hover.png) no-repeat;
}

.fb:hover {
  background: url(../img/facebook_hover.png) no-repeat;
}

.section-header {
  color: #837880;
  text-align: center;
  padding: 262px 0 218px 0;
  background-image: url(../img/bg-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

.header__title {
  font-family: "Playfair Display";
  font-size: 90px;
  padding-bottom: 120px;
}

a.button {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

a.button_kontact {
  color: #837880;
  padding: 21px 93px 18px 91px;
  border-bottom: 1px solid #837880;
  border-top: 1px solid #837880;
}
/*====================================== about us=============================*/
.about-us {
  padding: 239px 162px 0px 160px;
}

.about-us img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.title {
  color: #e7dcda;
  font-family: "Playfair Display";
  font-weight: lighter;
  font-size: 72px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.about-us .title {
  padding-bottom: 90px;
}

.main-text {
  color: #837880;
  font-family: "Playfair Display";
  font-size: 56px;
  line-height: 66px;
}

.about-us .main-text {
  padding-bottom: 45px;
}

.main-text span {
  color: #dfcbcc;
}

.text {
  color: #837880;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 30px;
}

.about-us .text {
  margin-bottom: 100px;
  margin-left: 4px;
}

a.button_read_more {
  color: #d1b4b6;
  padding: 27px 58px 21px 58px;
  border-bottom: 1px solid #d1b4b6;
  border-top: 1px solid #d1b4b6;
  margin-top: 85px;
}
/*====================================================Supply============================*/
.supply {
  width: 100%;
  margin-bottom: 250px;
  text-align: center;
  margin-top: 230px;
}

.supply .title {
  padding-bottom: 50px;
  text-align: center;
}

.supply .text {
  text-align: start;
  margin-left: -21px;
  margin-bottom: 100px;
  padding: 0 180px;
}

.products {
  margin-bottom: 23px;
}

.supply__item {
  width: 153px;
  height: 156px;
  margin-bottom: 76px;
  text-align: center;
}

.supply .row:last-child {
  padding-left: 2px;
}

.supply__item a {
  color: #837880;
  font-family: "Playfair Display";
  font-size: 24px;
}

.supply__item a:hover {
  text-decoration: none;
  color: #d1b4b6;
}

.supply__item img {
  margin-bottom: 32px;
}

a.button_learn_more {
  color: #d1b4b6;
  padding: 18px 62px 18px 66px;
  border-bottom: 1px solid #d1b4b6;
  border-top: 1px solid #d1b4b6;
}

.supply a.button_learn_more {
  justify-content: center;
}
/*==========Partner============*/
*,
::before,
::after {
  box-sizing: border-box;
}

.partner {
  margin: 0px 156px 225px 180px;
}

.partner .title {
  padding-bottom: 98px;
  text-align: center;
}

.partner .text {
  text-align: start;
  margin-bottom: 90px;
  margin-left: -68px;
}

.partner .main-text {
  margin-top: -52px;
  margin-left: -23px;
}

.slider {
  position: relative;
  margin-left: -45px;
  margin-bottom: 70px;
  user-select: none;
  touch-action: pan-y;
}

.slider-items {
  display: flex;
  transition: 0.2s;
}

.slider-wrapper {
  overflow: hidden;
}

.slider-wrapper .grab {
  cursor: grab;
}

.slider__item {
  max-width: 450px;
  height: 232px;
  margin: 15px;
  position: relative;
}

.slider__item:hover .partner-card img {
  opacity: 0;
  height: 230px;
}

.slider__item:hover .partner-info-hover {
  opacity: 1;
}

.partner-card {
  background-color: #d1b4b6;
  transition: transform 0.2s linear;
}

.partner-card img {
  display: block;
  transition: opacity 0.1s linear;
}
.partner-info-hover {
  text-align: center;
  padding: 0px 50px;
}
.partner-info-hover h3 {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.partner-info-hover h4 {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  padding-bottom: 30px;
  line-height: 30px;
}

.partner-info-hover {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  opacity: 0;
  transition: opacity 0.2s linear;
}

.next,
.prev {
  background: none;
  border-bottom: 1px solid #d1b4b6;
  border-top: 1px solid #d1b4b6;
  border-left: none;
  border-right: none;
  font-size: 30px;
  cursor: pointer;
  padding: 13px 38px 15px 41px;
  margin-left: -23px;
}

.next:hover {
  background-image: url(../img/to-right-hover.png);
  background-repeat: no-repeat;
  background-position: center;
}

.prev:hover {
  background-image: url(../img/to-left-hover.png);
  background-repeat: no-repeat;
  background-position: center;
}

.prev {
  margin-top: 20px;
}

.next.disabled,
.prev.disabled {
  opacity: 0.25;
}

.slider__control__button {
  padding-top: 64px;
}

/* =================NEWS =======================*/
*,
::before,
::after {
  box-sizing: border-box;
}

.news {
  margin-bottom: 20px;
}

.news .title {
  text-align: center;
  padding-left: 12px;
  margin-bottom: 45px;
}

.slider-news {
  position: relative;
  user-select: none;
  touch-action: pan-y;
  margin-left: 147px;
  margin-right: 180px;
}

.slider-news-items {
  display: flex;
  transition: 0.2s;
}

.slider-news-wrapper .grab {
  cursor: grab;
}

.slider-news__item {
  max-width: 450px;
  width: 100%;
  min-height: 628px;
  margin: 15px;
}

.slider-news__item img {
  margin-bottom: 29px;
}

.slider-news__item p {
  color: #837880;
  font-family: Montserrat;
  font-size: 18px;
  margin-bottom: 3px;
}

.slider-news__item a {
  color: #837880;
  font-family: "Playfair Display";
  font-size: 30px;
}

.slider-news__item:hover img {
  height: 449px;
}

.slider-news__item:hover a {
  color: #d1b4b6;
}

.news-next,
.news-prev {
  background: none;
  border-bottom: 1px solid #d1b4b6;
  border-top: 1px solid #d1b4b6;
  border-left: none;
  border-right: none;
  font-size: 30px;
  cursor: pointer;
  padding: 11px 38px 13px 38px;
}

.news-prev {
  margin-top: 20px;
}

.news-next.disabled,
.news-prev.disabled {
  opacity: 0.25;
}

.slider-news__control__button {
  margin-top: 80px;
}
.card {
  border: none;
}
.card-body {
  padding: 0;
}

/*================Footer===========================*/
.footer {
  padding: 205px 150px 335px 150px;
}

.footer .title {
  margin-bottom: 120px;
}

.footer .main-text {
  color: #837880;
  font-family: "Playfair Display";
  font-size: 56px;
  padding-bottom: 15px;
  margin-top: -13px;
  margin-left: -3px;
}

.footer .text {
  margin-left: -3px;
}

.form-row {
  margin-top: -8px;
  margin-left: -10px;
}

.message {
  margin-top: 15px;
}

.form-group label {
  color: #d1b4b6;
  opacity: 0;
  text-transform: uppercase;
  font-size: 18px;
}

.form-group:hover label {
  color: #d1b4b6;
  opacity: 1;
}

.form-group:hover input[placeholder],
.form-group:hover textarea#inputMessage[placeholder] {
  color: #837880;
}

.form-control {
  padding: 0;
  line-height: 0.9;
}

input[type="text"],
input[type="email"] {
  color: #d1b4b6;
  border: none;
  font-size: 18px;
}
textarea#inputMessage {
  color: #d1b4b6;
  text-transform: uppercase;
  border-bottom: 1px solid #d1b4b6;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 18px;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea#inputMessage::-webkit-input-placeholder {
  color: #d1b4b6;
  text-transform: uppercase;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
textarea#inputMessage::-moz-placeholder {
  color: #d1b4b6;
  text-transform: uppercase;
}

.contact-wrapper {
  max-width: 1030px;
  width: 100%;
  height: 500px;
  border: 1px solid #837880;
  padding: 50px;
  margin-left: 10px;
  position: relative;
}

.contact-wrapper button {
  text-transform: uppercase;
  color: #d1b4b6;
  font-family: Montserrat;
  font-size: 24px;
  background: none;
  border-bottom: 1px solid #d1b4b6;
  border-top: 1px solid #d1b4b6;
  border-left: none;
  border-right: none;
  font-size: 24px;
  cursor: pointer;
  padding: 16px 90px 15px 90px;
  position: absolute;
  right: 5%;
  bottom: 10%;
}

#upbutton {
  background-color: #d1b4b6;
  border-left: 1px solid #d1b4b6;
  border-right: 1px solid #d1b4b6;
  border-top: none;
  border-bottom: none;
  font-size: 30px;
  cursor: pointer;
  padding: 38px 32px 38px 33px;
  height: 125px;
  width: 88px;
  bottom: 160px;
  right: 75px;
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 999;
}

@media (min-width: 1200px) and (max-width: 1808px) {
  .header,
  .about-us,
  .footer {
    padding-left: 50px;
  }

  .nav-link {
    margin-left: 6px;
  }

  nav ul {
    margin-left: -30px;
  }

  .lang,
  .social {
    margin-left: -30px;
    padding: 10px 0 0 0;
  }

  .social:last-child {
    margin-left: 0px;
  }

  .about-us,
  .footer {
    padding-top: 100px;
  }

  .supply {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .partner {
    margin-bottom: 150px;
  }

  .about-us .title {
    padding-bottom: 20px;
  }

  .about-us {
    padding-right: 10px;
  }

  .main-text {
    font-size: 40px;
  }

  .about-us .main-text {
    padding-bottom: 10px;
  }

  .about-us .text {
    margin-bottom: 65px;
  }

  .partner .main-text {
    padding: 0;
    margin: -120px 50px 0 -50px;
    text-align: center;
  }

  .partner .text {
    margin-left: 70px;
  }

  .supply .text {
    text-align: center;
    padding: 0;
  }

  .footer {
    padding-right: 40px;
  }

  .footer .main-text {
    font-size: 40px;
    text-align: center;
    padding-bottom: 0;
  }

  .footer .text {
    text-align: center;
  }

  .contact-wrapper {
    height: 600px;
  }

  .partner-info-hover {
    padding: 0px 0px;
  }

  .partner-info-hover h3 {
    font-size: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .partner-info-hover h4 {
    font-size: 12px;
    padding-bottom: 0px;
    line-height: 1px;
  }

  .slider__item:hover .partner-card img {
    opacity: 0;
    height: 135px;
    width: 100%;
  }

  .slider__item {
    height: 150px;
  }

  .slider__control__button {
    margin-top: -60px;
  }

  .slider-news__item:hover img {
    height: 100%;
  }

}
@media (min-width: 768px) and (max-width: 1199px) {
  .header,
  .about-us,
  .footer {
    padding-left: 20px;
  }

  .slider {
    margin-left: 120px;
  }

  .news .button_learn_more {
    margin-top: 50px;
  }

  .footer .title {
    margin: 0 0 50px 0;
  }

  .about-us,
  .footer {
    padding-top: 50px;
    text-align: center;
  }

  .supply {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .supply .text {
    margin-left: 20px;
  }

  .partner {
    margin: 0 20px 150px 20px;
  }

  .about-us .title {
    padding-bottom: 20px;
  }

  .about-us {
    padding-right: 10px;
  }

  .main-text {
    font-size: 40px;
  }

  .about-us .author {
    margin: 0 auto 30px;
  }

  .about-us .main-text {
    padding-bottom: 10px;
  }

  .about-us .text {
    margin-bottom: 65px;
  }

  .partner .main-text {
    padding: 0;
    text-align: center;
  }

  .partner .text {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .partner-info-hover {
    padding: 0px;
  }

  .partner-info-hover h3 {
    font-size: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .partner-info-hover h4 {
    font-size: 12px;
    padding-bottom: 0px;
    line-height: 1px;
  }

  .slider__item:hover .partner-card img {
    opacity: 0;
    height: 232px;
    width: 100%;
  }

  .slider__item {
    height: 230px;
  }

  .slider__control__button {
    padding: 0;
  }

  .supply .text {
    text-align: center;
    padding: 0;
  }

  .footer {
    padding-right: 40px;
  }

  .footer .main-text {
    font-size: 40px;
    text-align: center;
    padding-bottom: 0;
  }

  .footer .text {
    text-align: center;
  }

  .contact-wrapper {
    height: 600px;
    margin: 0 auto;
  }

  .slider-news__item:hover img {
    height: 100%;
  }
}

@media (min-width: 430px) and (max-width: 767px) {
  .header,
  .about-us,
  .footer {
    padding-left: 0px;
  }

  .news .button_learn_more {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .news {
    margin-left: -8%;
  }

  .slider-news__item:hover img {
    height: 100%;
  }

  .footer .title {
    margin: 0 0 50px 0;
  }

  .partner .title {
    margin-left: 20px;
  }

  .about-us,
  .footer {
    padding-top: 50px;
    text-align: center;
  }

  .supply {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .supply .text {
    margin-left: 20px;
  }

  .partner {
    margin: 0 0px 150px 0px;
  }

  .slider {
    margin-left: 15%;
  }

  .about-us .title {
    padding-bottom: 20px;
  }

  .about-us {
    padding-right: 10px;
  }

  .main-text {
    font-size: 40px;
  }

  .about-us .author {
    margin: 0 auto 30px;
  }

  .about-us .main-text {
    padding-bottom: 10px;
  }

  .about-us .text {
    margin-bottom: 65px;
  }

  .partner .main-text {
    padding: 0;
    text-align: center;
  }

  .partner .text {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .partner-info-hover {
    padding: 0px 0px;
  }

  .partner-info-hover h3 {
    font-size: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .partner-info-hover h4 {
    font-size: 12px;
    padding-bottom: 0px;
    line-height: 1px;
  }

  .slider__item:hover .partner-card img {
    opacity: 0;
    height: 232px;
    width: 100%;
  }

  .slider__item {
    height: 230px;
  }

  .slider__control__button {
    padding: 0;
  }

  .supply .text {
    text-align: center;
    padding: 0;
  }

  .footer {
    margin: 0 auto;
    padding: 0;
  }

  .footer .main-text {
    font-size: 40px;
    text-align: center;
    padding-bottom: 0;
  }

  .footer .text {
    text-align: center;
  }

  .contact-wrapper {
    height: 600px;
    margin: 0 auto;
  }

  #upbutton {
    bottom: 10px;
    right: 5px;
  }
}
