
/*=====================Bootstrap style=================*/
.form-group input:focus {
  -webkit-box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #837880;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
}

.navbar-toggler {
  border: none;
}

.button:focus,
.navbar-toggler:focus,
.dropdown-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.navbar-toggler:focus,
.dropdown-toggle:focus {
  -webkit-box-shadow: 6px 6px 2px 1px #d4b9bb;
  box-shadow: 6px 6px 2px 1px #d4b9bb;
  outline: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: transparent;
  color: #d4b9bb;
}

/*Style for link and buttons*/
a:hover {
  text-decoration: none;
}

.button:hover {
  color: #fff;
  background-color: #d4b9bb;
}

button.dropdown-toggle {
  border: none;
  background-color: transparent;
  color: #837880;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
}

.dropdown-menu {
  border: none;
  background-color: #d4b9bb44;
  color: #837880;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
}
/*=============================NAV=====================================*/
.header {
  padding: 21px 0px 21px 160px;
  color: #837880;
  background-color: #ffffffee;
}

.header a {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #837880;
}

.header .nav-item a.nav-link:hover {
  color: #d4b9bb;
}

nav ul {
  margin-right: 45px;
}

.nav-link {
  padding-top: 20px;
  margin-left: 45px;
}

.lang {
  margin-right: 20px;
}

.lang a:first-child {
  padding-right: 11px;
}

.lang a:last-child {
  padding-left: 10px;
}

.social {
  padding-top: 8px;
}

.social a:last-child {
  margin-left: 15px;
}

.nav-item a:hover {
  color: #d4b9bb;
  text-decoration: none;
  border-bottom: 1px solid #d4b9bb;
  padding-bottom: 0;
}

.lang a:hover {
  text-decoration: none;
  font-weight: 800;
  color: #d4b9bb;
}

.inst {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/instagram.png) no-repeat;
  white-space: nowrap;
  text-indent: 100%;
}

.fb {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/facebook.png) no-repeat;
  white-space: nowrap;
  text-indent: 100%;
}

.inst:hover {
  background: url(../img/instagram-hover.png) no-repeat;
}

.fb:hover {
  background: url(../img/facebook_hover.png) no-repeat;
}

.section-header {
  color: #837880;
  text-align: center;
  padding: 262px 0 218px 0;
  background-image: url(../img/bg-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

.header__title {
  font-family: "Playfair Display";
  font-size: 90px;
  padding-bottom: 120px;
}

a.button {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

a.button_kontact {
  color: #837880;
  padding: 21px 93px 18px 91px;
  border-bottom: 1px solid #837880;
  border-top: 1px solid #837880;
}
/*====================================== about us=============================*/
.about-us {
  padding: 239px 162px 0px 160px;
}

.about-us img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 15px;
}

.title {
  color: #e7dcda;
  font-family: "Playfair Display";
  font-weight: lighter;
  font-size: 72px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.about-us .title {
  padding-bottom: 90px;
}

.main-text {
  color: #837880;
  font-family: "Playfair Display";
  font-size: 56px;
  line-height: 66px;
}

.about-us .main-text {
  padding-bottom: 45px;
}

.main-text span {
  color: #dfcbcc;
}

.text {
  color: #837880;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 30px;
}

.about-us .text {
  margin-bottom: 100px;
  margin-left: 4px;
}

a.button_read_more {
  color: #d1b4b6;
  padding: 27px 58px 21px 58px;
  border-bottom: 1px solid #d1b4b6;
  border-top: 1px solid #d1b4b6;
  margin-top: 85px;
}
/*====================================================Supply============================*/
.supply {
  width: 100%;
  margin-bottom: 250px;
  text-align: center;
  margin-top: 230px;
}

.supply .title {
  padding-bottom: 50px;
  text-align: center;
}

.supply .text {
  text-align: start;
  margin-left: -21px;
  padding: 0 180px;
  margin-bottom: 65px;
}

.products {
  margin-bottom: 67px;
}

.supply-products .supply__item {
  width: 153px;
  height: 152px;
  margin-bottom: 73px;
  padding-top:150px;
}

.supply-products .supply__item:nth-child(0n+1) {
  background: url(../img/color.png) no-repeat;
  background-position: center;
  margin-left: 75px;
  margin-right: -75px;
}

.supply-products .supply__item:nth-child(0n+2) {
  background: url(../img/make-up.png) no-repeat;
  background-position: center;
}

.supply-products .supply__item:nth-child(0n+3) {
  background: url(../img/dresscode.png) no-repeat;
  background-position: center;
}

.supply-products .supply__item:nth-child(0n+4) {
  background: url(../img/shopping.png) no-repeat;
  background-position: center;
}

.supply-products .supply__item:nth-child(0n+5) {
  background: url(../img/online_shoping.png) no-repeat;
  background-position: center;
  margin-left: -75px;
  margin-right: 75px;
}

.supply-products .supply__item:nth-child(0n+6) {
  background: url(../img/camera.png) no-repeat;
  background-position: center;
  margin-left: 75px;
  margin-right: -75px;
}

.supply-products .supply__item:nth-child(0n+7) {
  background: url(../img/figure.png) no-repeat;
  background-position: center;
}

.supply-products .supply__item:nth-child(0n+8) {
  background: url(../img/gift.png) no-repeat;
  background-position: center;
}

.supply-products .supply__item:nth-child(0n+9) {
  background: url(../img/bear.png) no-repeat;
  background-position: center;
}

.supply-products .supply__item:nth-child(0n+10) {
  background: url(../img/seminar.png) no-repeat;
  background-position: center;
  margin-left: -75px;
  margin-right: 75px;
}

.supply__item a {
  color: #837880;
  font-family: "Playfair Display";
  font-size: 24px;
}

.supply__item a:hover {
  text-decoration: none;
  color: #d1b4b6;
}

.supply__item img {
  margin-bottom: 32px;
}

a.button_learn_more {
  color: #d1b4b6;
  padding: 18px 62px 18px 66px;
  border-bottom: 1px solid #d1b4b6;
  border-top: 1px solid #d1b4b6;
}

.supply a.button_learn_more {
  justify-content: center;
}
/*==========Partner============*/

*,
::before,
::after {
  box-sizing: border-box;
}

.partner {
  margin: 0px 150px 0px 165px;
}

.partner .title {
  padding-bottom: 85px;
  text-align: center;
}

.partner .text {
  text-align: start;
  margin-bottom: 90px;
  margin-left: -60px;
  margin-top: 12px;
}

.partner .main-text {
  margin-top: 0px;
  margin-left: -3px;
}

/*=======Slider========*/
.slider-partner {
  padding-top: 10px;
  margin-left: -48px;
  padding-bottom: 100px;
}

.image__HugoBoss,
.image__MaxMara {
  position: relative;
  display: block;
  padding-top: 51.2%;
}

.image__MaxMara {
  background: url(../img/MaxMara.png) no-repeat;
  background-color: #d1b3b5;
  background-position: center;
  background-size: cover;
}

.image__HugoBoss {
  background: url(../img/HugoBoss.png) no-repeat;
  background-color: #83777f;
  background-position: center;
  background-size: cover;
}

.image__MaxMara:hover::before,
.image__MaxMara:focus::before,
.image__HugoBoss:hover::before,
.image__HugoBoss:focus::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #d1b3b5;
  cursor: pointer;
}

.image__MaxMara:hover::after,
.image__MaxMara:focus::after {
  content: url(../img/MaxMara-info.svg);
  position: absolute;
  top: 40%;
  left: 32%;
  height: 64px;
  width: 72px;
  background-size: 72px 64px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: -32px;
  margin-top: -36px;
  cursor: pointer;
}

.image__HugoBoss:hover::after,
.image__HugoBoss:focus::after {
  content: url(../img/HugoBoss-info.svg);
  position: absolute;
  top: 40%;
  left: 32%;
  height: 64px;
  width: 72px;
  background-size: 72px 64px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: -32px;
  margin-top: -36px;
  cursor: pointer;
}

.slider__control__desktop {
  padding-top: 70px;
}
.slider__control__mobile .next,
.slider__control__mobile .prev {
  border-bottom: 1px solid #d1b4b6;
  border-top: 1px solid #d1b4b6;
  border-left: none;
  border-right: none;
  cursor: pointer;
  padding: 20px 40px;
  background-size: 60%;
  margin: 10px 10px -10px;
}

.next,
.prev {
  border-bottom: 1px solid #d1b4b6;
  border-top: 1px solid #d1b4b6;
  border-left: none;
  border-right: none;
  font-size: 30px;
  cursor: pointer;
  padding: 35px 65px;
  margin-left: -20px;
}

.next {
  background: url(../img/to-right.png) no-repeat;
  background-position: center;
}

.prev {
  background: url(../img/to-left.png) no-repeat;
  background-position: center;
}

.next:hover {
  background-image: url(../img/to-right-hover.png);
  background-repeat: no-repeat;
  background-position: center;
}

.prev:hover {
  background-image: url(../img/to-left-hover.png);
  background-repeat: no-repeat;
  background-position: center;
}

.prev {
  margin-top: 20px;
}

.next.disabled,
.prev.disabled {
  opacity: 0.25;
}

.partner .button.button_learn_more {
  margin-top: 85px;
}

/* =================NEWS =======================*/

.news {
  padding-top: 240px;
}

.news .title {
  text-align: center;
  padding-left: 12px;
  margin-bottom: 45px;
}

.news__wrapper {
  max-width: 500px;
}

.slider-news {
  margin: 8px 150px 245px 145px;
}

.news-first,
.news-second,
.news-third {
  position: relative;
  display: block;
  min-height: 255px;
}

.news-first {
  background: url(../img/news-item-1.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.news-second {
  background: url(../img/news-item-2.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.news-third {
  background: url(../img/news-item-3.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.news-first,
.news-second,
.news-third {
  max-width: 500px;
  height: 100%;
  margin: 10px auto 22px;
}

.news-item:hover,
.news-item:focus {
  cursor: pointer;
}

p.news-card-title {
  color: #837880;
  font-family: Montserrat;
  font-size: 18px;
  margin-bottom: 5px;
}

a.news-card-text {
  color: #837880;
  font-family: "Playfair Display";
  font-size: 30px;
}

.slider__news__control__desktop {
  padding-top: 18.4%;
}

.slider__news__control__mobile .next,
.slider__news__control__mobile .prev {
  border-bottom: 1px solid #d1b4b6;
  border-top: 1px solid #d1b4b6;
  border-left: none;
  border-right: none;
  cursor: pointer;
  padding: 20px 40px;
  background-size: 60%;
  margin: 50px 10px 50px;
}

.news .button.button_learn_more {
  margin-top: 125px;
}
/*================Footer===========================*/

.footer {
  padding: 247px 150px 335px 150px;
}

.footer .title {
  margin-bottom: 116px;
}

.footer .main-text {
  color: #837880;
  font-family: "Playfair Display";
  font-size: 56px;
  padding-bottom: 15px;
  margin-top: -13px;
  margin-left: -3px;
}

.footer .text {
  margin-left: -3px;
}

form {
  text-align: left;
  border: 1px solid #837880;
  padding: 15px;
}

.form-group {
  display: block;
  padding-top: 30px;
  text-align: left;
  margin-bottom: 10px;
  letter-spacing: 1px;
  margin-left: -3px;
}

.form-group .label-text {
  color: #d1b4b6;
  cursor: text;
  font-size: 18px;
  line-height: 0.9;
  text-transform: uppercase;
  -moz-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  -webkit-transform: translateY(-25px);
  transform: translateY(-25px);
  transition: all 0.3s;
}

.form-group input {
  background-color: transparent;
  border: none;
  color: #837880;
  font-size: 18px;
  letter-spacing: 1px;
  outline: none;
  text-align: left;
  transition: all 0.3s;
  width: 100%;
}

.form-group input:focus + .label-text {
  color: #d1b4b6;
  font-size: 18px;
  -moz-transform: translateY(-58px);
  -ms-transform: translateY(-58px);
  -webkit-transform: translateY(-58px);
  transform: translateY(-58px);
}

.form-group input:focus{
  border: none;
  outline: none;
}

.form-group input:valid + .label-text {
  font-size: 18px;
  border:0;
  -moz-transform: translateY(-58px);
  -ms-transform: translateY(-58px);
  -webkit-transform: translateY(-58px);
  transform: translateY(-58px);
}

.contact-wrapper {
  max-width: 1030px;
  width: 100%;
  height: 500px;
  border: 1px solid #837880;
  padding: 50px;
  margin-left: 10px;
  position: relative;
}

input#message{
  border-bottom: 1px solid #837880;
  border-radius: 0px;
}

.contact-wrapper button {
  text-transform: uppercase;
  color: #d1b4b6;
  font-family: Montserrat;
  font-size: 24px;
  background: none;
  border-bottom: 1px solid #d1b4b6;
  border-top: 1px solid #d1b4b6;
  border-left: none;
  border-right: none;
  font-size: 24px;
  cursor: pointer;
  padding: 16px 90px 15px 90px;
  position: absolute;
  right: 5%;
  bottom: 9%;
}

#upbutton {
  background: url(../img/to-main.png) no-repeat;
  background-position: center;
  background-color:#d1b4b6 ;
  border-left: 1px solid #d1b4b6;
  border-right: 1px solid #d1b4b6;
  border-top: none;
  border-bottom: none;
  font-size: 30px;
  cursor: pointer;
  padding: 38px 32px 38px 33px;
  height: 125px;
  width: 88px;
  bottom: 158px;
  right: 57px;
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 999;
}

@media (min-width: 1200px) and (max-width: 1808px) {
  .header,
  .about-us,
  .footer {
    padding-left: 50px;
  }

  .nav-link {
    margin-left: 6px;
  }

  nav ul {
    margin-left: -30px;
  }

  .lang,
  .social {
    margin-left: -30px;
    padding: 10px 0 0 0;
  }

  .social:last-child {
    margin-left: 0px;
  }
  .section-header {
    padding: 150px 0;
  }
  .about-us,
  .footer {
    padding-top: 100px;
  }

  .supply {
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .supply-products  {
    margin-bottom: 105px;
  }
  
  .supply-products  .supply__item {
    width: 153px;
    height: 152px;
    margin-bottom: 80px;
    margin-top: -30px;
    padding-top: 145px;
  }
  

  .partner {
    margin-bottom: 75px;
    margin: 0;
  }
  .slider-partner{
   margin-bottom: 70px;
  }

  .about-us .title {
    padding-bottom: 20px;
  }

  .about-us {
    padding-right: 10px;
  }

  .main-text {
    font-size: 35px;
  }

  .about-us .main-text {
    padding-bottom: 10px;
  }

  .about-us .text {
    margin-bottom: 65px;
    text-align: justify;
  }

  .supply .title,
  .partner .title,
  .news .title,
  .footer .title {
    padding-bottom: 30px;
  }
  .supply-products .supply__item:nth-child(0n+1),
  .supply-products .supply__item:nth-child(0n+6){
    margin-left: 15px;
    margin-right: -15px;
  }

  .supply-products .supply__item:nth-child(0n+5),
  .supply-products .supply__item:nth-child(0n+10){
    margin-left: -15px;
    margin-right: 15px;
  }

  .supply .text {
    text-align: center;
    padding: 0;
  }

  .slider-partner {
    padding: 0 35px 0 50px;
  }

  .partner .main-text {
    padding: 0;
    margin-top: 0;
    text-align: center;
    max-width: 100%;
  }

  .partner .text {
    margin-bottom: 40px;
    margin-left: 10px;
    text-align: justify;
  }
  
  .image__MaxMara:hover::after,
  .image__MaxMara:focus::after {
    content: 'MaxMara';
    position: absolute;
    top: 60%;
    color:#fff;
    font-weight: bold;
    left: 50%;
  }

  .image__HugoBoss:hover::after,
  .image__HugoBoss:focus::after {
    content: 'HugoBoss';
    position: absolute;
    top: 60%;
    color:#fff;
    font-weight: bold;
    left: 50%;
  }

  .prev,
  .next {
    padding: 20px 40px;
  }

  .prev {
    margin-top: 5px;
  }

  .news{
    padding-top: 100px;
  }

  .slider__news__control__mobile .prev {
    margin: 0;
  }

  .news .button.button_learn_more {
    margin-top: 200px;
    margin-bottom: 20px;
  }

  p.news-card-title {
    font-size: 16px;
  }

  a.news-card-text {
    font-size: 25px;
  }

  .slider-news {
    margin: 15px 25px 250px;

}
  .footer {
    padding: 100px 35px 20px;
  }

  .footer .title {
    margin: 0;
  }

  .footer .main-text {
    font-size: 40px;
    text-align: center;
    padding-bottom: 0;
  }

  .footer .text {
    text-align: justify;
  }

  .form-group .label-text{
    font-size: 18px;
  }

  .form-group input{
    font-size: 18px;
  }

  .form-group input:focus + .label-text{
    font-size: 18px;
  }

  .form-group input:valid + .label-text {
    font-size: 18px;
  }

  .form-group {
    padding-top: 25px;
    margin: 0;
  }

  .contact-wrapper {
    height: 600px;
    margin-bottom: 100px;
  }

  .slider__item {
    height: 150px;
  }

  #upbutton {
    bottom: 50px;
    right: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header,
  .about-us,
  .footer {
    padding: 0;
  }

  .navbar-brand {
    width: 70%;
  }

  .section-header {
    padding: 100px 0;
  }

  .header__title {
    font-size: 50px;
    padding-bottom: 50px;
  }

  .about-us,
  .footer {
    padding-top: 50px;
    text-align: center;
  }

  .about-us .title {
    padding-bottom: 30px;
    font-size: 60px;
    padding-top: 5%;
  }

  .about-us .text,
  .supply .text,
  .partner .text {
    margin: 0;
    padding: 0;
    text-align: justify;
  }

  .about-us .author {
    margin: 0 auto 30px;
  }

  .about-us .text {
    margin-bottom: 65px;
  }

  .main-text {
    font-size: 40px;
  }

  .supply {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .supply-products  {
    padding-bottom: 5%;
  }

  .supply-products  .supply__item {
    height: 100px;
  }

  .supply-products  .supply__item:nth-child(0n+1),
  .supply-products  .supply__item:nth-child(0n+2),
  .supply-products  .supply__item:nth-child(0n+4),
  .supply-products  .supply__item:nth-child(0n+5),
  .supply-products  .supply__item:nth-child(0n+6),
  .supply-products  .supply__item:nth-child(0n+7),
  .supply-products  .supply__item:nth-child(0n+8),
  .supply-products  .supply__item:nth-child(0n+9),
  .supply-products  .supply__item:nth-child(0n+10) {
    background-size: 70px;
  }

  .supply-products .supply__item:nth-child(0n+1),
  .supply-products .supply__item:nth-child(0n+5),
  .supply-products .supply__item:nth-child(0n+6),
  .supply-products .supply__item:nth-child(0n+10){
    margin-left: 0;
    margin-right: 0;
  }

  .supply-products  .supply__item:nth-child(0n+3) {
    background-size: 40px;
  }

  .supply-products  .supply__item {
    padding-top: 15%;
  }

  .supply-products  .supply__item a {
    font-size: 18px;
  }

  .partner {
    margin: 0;
    padding: 0;
  }

  .partner .title {
    padding-bottom: 30px;
  }

  .partner .main-text {
    padding: 0;
    margin: 0px auto 0;
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
  }

  .partner .text {
    margin-top: 6px;
  }

  .partner .slider__control__mobile{
    margin-bottom: 100px;
  }

  .partner .button.button_learn_more {
    margin-top: 30px;
  }

  .slider-partner {
    margin:0 0.5%;
    padding-bottom: 70px;
  }
  .image__MaxMara:hover::after,
  .image__MaxMara:focus::after {
    content: 'MaxMara';
    position: absolute;
    top: 60%;
    color:#fff;
    font-weight: bold;
    left: 50%;
  }

  .image__HugoBoss:hover::after,
  .image__HugoBoss:focus::after {
    content: 'HugoBoss';
    position: absolute;
    top: 60%;
    color:#fff;
    font-weight: bold;
    left: 50%;
  }
  
  .partner .slider__control__mobile{
    margin: 40px 0;
  }

  p.news-card-title {
    font-size: 16px;
  }

  a.news-card-text {
    font-size: 20px;
  }

  .slider__news__control__mobile {
    margin: 110px 0 0;
    padding: 0;
  }

  .news .button.button_learn_more {
    margin-bottom: 20px;
  }
  
  .slider-news {
    margin: 15px 25px 50px 25px;
  }
  
  .news {
    margin-top: -150px;
  }

  .footer {
    margin: 50px 0 50px 0;
  }

  .footer .title {
    margin-bottom: 60px;
  }

  .footer .main-text {
    font-size: 40px;
    text-align: center;
    padding-bottom: 0;
  }

  .footer .text {
    text-align: justify;
    padding: 0;
  }

  .form-group .label-text{
    font-size: 18px;
  }

  .form-group input{
    font-size: 18px;
  }

  .form-group input:focus + .label-text{
    font-size: 18px;
  }

  .form-group input:valid + .label-text {
    font-size: 18px;
  }

  .form-group {
    padding-top: 25px;
    margin: 0;
  }
  .contact-wrapper {
    height: 400px;
    margin: 0 auto 100px;
  }

  #upbutton {
    bottom: 20px;
    right: 20px;
  }
}

@media (min-width: 430px) and (max-width: 767px) {
  .header,
  .about-us,
  .footer {
    padding-left: 0px;
  }

  .header {
    padding: 0;
  }

  .header .navbar-brand {
    width: 60%;
  }

  .section-header {
    padding: 100px 0 100px;
    margin: 0;
  }

  .header__title {
    font-size: 40px;
    padding-bottom: 50px;
  }

  a.button {
    font-size: 18px;
  }

  a.button_kontact {
    padding: 12px 40px 12px 40px;
  }

  /*============about-us===============*/
  .about-us,
  .footer {
    padding-top: 50px;
    text-align: center;
  }

  .about-us {
    padding-right: 0;
  }

  .about-us .title {
    padding-top: 25%;
    padding-bottom: 20px;
  }

  .about-us .author {
    margin: 0 auto 30px;
  }

  .about-us .text {
    margin-bottom: 45px;
  }

  .main-text {
    font-size: 20px;
    line-height: 1.2;
  }

  .title {
    font-size: 40px;
  }

  .text {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 40px;
  }
  .button.button_read_more,
  .button.button_learn_more {
    padding: 12px 40px 12px 40px;
  }

  /*========supply======*/
  .supply,
  .partner,
  .news {
    margin: 50px 0 0;
  }

  .supply .title {
    padding-bottom: 30px;
    margin-bottom: 0;
  }

  .supply .text {
    text-align: justify;
    padding: 0;
    margin: 0 auto 20px;
  }

  .supply-products{
    padding-bottom: 5%;
  }

  .supply-products .supply__item {
    height: 100px;
  }

  .supply-products  .supply__item:nth-child(0n+1),
  .supply-products  .supply__item:nth-child(0n+2),
  .supply-products  .supply__item:nth-child(0n+4),
  .supply-products  .supply__item:nth-child(0n+5),
  .supply-products  .supply__item:nth-child(0n+6),
  .supply-products  .supply__item:nth-child(0n+7),
  .supply-products  .supply__item:nth-child(0n+8),
  .supply-products  .supply__item:nth-child(0n+9),
  .supply-products  .supply__item:nth-child(0n+10) {
    background-size: 50px;
  }

  .supply-products .supply__item:nth-child(0n+1),
  .supply-products .supply__item:nth-child(0n+5),
  .supply-products .supply__item:nth-child(0n+6),
  .supply-products .supply__item:nth-child(0n+10){
    margin-left: 0;
    margin-right: 0;
  }

  .supply-products .supply__item:nth-child(0n+3) {
    background-size: 30px;
  }

  .supply-products .supply__item {
    padding-top: 20%;
  }

  .supply-products .supply__item a {
    font-size: 15px;
  }
  /*========partner=========*/

  .partner .title {
    padding-bottom: 70px;
  }

  .partner .main-text {
    padding: 0;
    text-align: center;
  }

  .partner .text {
    padding: 0;
    margin: 0 0 20px 0;
    text-align: justify;
  }
  
  .partner .slider__control__mobile{
    margin: 60px 0 20px 0;
  }
  
  
  p.news-card-title {
    font-size: 12px;
  }

  a.news-card-text {
    font-size: 18px;
  }

  .slider-partner {
    margin: 1%;
  }

  .image__MaxMara:hover::after,
  .image__MaxMara:focus::after {
    content: 'MaxMara';
    position: absolute;
    top: 60%;
    color:#fff;
    font-weight: bold;
    left: 50%;
  }

  .image__HugoBoss:hover::after,
  .image__HugoBoss:focus::after {
    content: 'HugoBoss';
    position: absolute;
    top: 60%;
    color:#fff;
    font-weight: bold;
    left: 50%;
  }

  .slider__item {
    height: 230px;
  }
    
  .slider-news {
    margin: 15px 25px 50px 25px;
}
  
  .slider__news__control__mobile {
    margin: 125px 0px 0;
  }

  .slider__news__control__mobile .prev{
    margin: 0;
  }

  .news .button.button_learn_more {
    margin-top: -70px;
    margin-bottom: 20px;
  }

  .news {
    margin-top: -200px;
  }

  /*============news==================*/


  /*============footer==================*/

  .footer {
    margin: 50px auto 0;
    padding: 0;
  }
  .footer .title {
    margin-bottom: 50px;
  }

  .footer .main-text {
    font-size: 20px;
    line-height: 1.2;
  }

  .footer .text {
    text-align: justify;
  }
  .form-group .label-text{
    font-size: 16px;
  }

  .form-group input{
    font-size: 16px;
  }

  .form-group input:focus + .label-text{
    font-size: 16px;
  }

  .form-group input:valid + .label-text {
    font-size: 16px;
  }

  .form-group {
    padding-top: 40px;
    margin: 0;
  }
  .contact-wrapper {
    height: 400px;
    margin: 0 auto 100px;
  }
  .contact-wrapper button {
    font-size: 18px;
    padding: 12px 40px 12px 40px;
  }

  #upbutton {
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    padding: 10px 30px 30px 10px;
    height: 70px;
    width: 30px;
  }
}

@media screen and (max-width: 429px) {
  /*======nav header ===========*/
  .header,
  .about-us,
  .footer {
    padding: 25px 0px 0px;
  }

  .header {
    padding: 0;
  }

  .header .navbar-brand {
    width: 40%;
  }

  .section-header {
    padding: 50px 0px;
  }

  .header__title {
    font-size: 28px;
    padding-bottom: 20px;
  }

  a.button {
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
  }

  a.button_kontact {
    padding: 7px 30px 7px 30px;
  }
  /*=========about=========*/

  .title {
    font-size: 22px;
    letter-spacing: 2px;
  }

  .about-us .main-text {
    font-size: 18px;
    line-height: 1.4;
    padding-bottom: 10px;
    margin-left: -10px;
  }

  .text {
    font-size: 14px;
    line-height: 1.2;
    text-align: justify;
  }

  .about-us p.text {
    margin-bottom: 20px;
    margin-top: -20px;
  }
  .button.button_read_more {
    padding: 7px 25px 7px 25px;
  }

  .about-us .title {
    padding-bottom: 10px;
    margin-left: -10px;
  }

  .about-us .author {
    margin: 0 auto 30px;
  }

  /*==============supply==============*/
  .supply {
    margin: 25px 0;
  }

  .supply .title {
    padding-bottom: 10px;
    margin-top: 10px;
  }
  .supply p.text {
    margin-bottom: 15px;
    text-align: justify;
    padding: 0;
    margin-left: 5px;
  }
  .supply-products {
    padding-bottom: 7%;
  }
  
  .products{
   margin-bottom:0;
  }
  
  .supply-products .supply__item {
    height: 100px;
    margin-bottom: 2%;
  }

  .supply-products  .supply__item:nth-child(0n+1),
  .supply-products  .supply__item:nth-child(0n+2),
  .supply-products  .supply__item:nth-child(0n+4),
  .supply-products  .supply__item:nth-child(0n+5),
  .supply-products  .supply__item:nth-child(0n+6),
  .supply-products  .supply__item:nth-child(0n+7),
  .supply-products  .supply__item:nth-child(0n+8),
  .supply-products  .supply__item:nth-child(0n+9),
  .supply-products  .supply__item:nth-child(0n+10) {
    background-size: 40px;
  }

  .supply-products .supply__item:nth-child(0n+1),
  .supply-products .supply__item:nth-child(0n+5),
  .supply-products .supply__item:nth-child(0n+6),
  .supply-products .supply__item:nth-child(0n+10){
    margin-left: 0;
    margin-right: 0;
  }

  .supply-products .supply__item:nth-child(0n+3) {
    background-size: 20px;
  }

  .supply-products .supply__item {
    padding-top: 25%;
  }
  .supply-products .supply__item a {
    font-size: 14px;
  }
  .button.button_learn_more {
    padding: 7px 25px 7px 25px;
  }
  .supply__item {
    margin-bottom: 10px;
  }

  /*=============partner=============*/
  .partner {
    margin: 0 0px 25px 0px;
  }

  .partner .title {
    padding-bottom: 10px;
    margin-top: 10px;
  }

  .partner .main-text {
    font-size: 16px;
    line-height: 1.2;
    padding: 0;
    text-align: center;
  }

  .partner p.text {
    text-align: justify;
    padding: 0 0 15px 0;
    margin: 0;
  }

  .partner .slider__control__mobile{
    margin-top: 40px;
  }
  .slider__control__mobile {
    padding: 0;
    margin-bottom: 25px;
  }

  .slider-partner {
    margin:0  0.5%;
    padding-bottom: 40px;

  }


.image__MaxMara:hover::after,
.image__MaxMara:focus::after {
  content: 'MaxMara';
  position: absolute;
  top: 60%;
  color:#fff;
  font-weight: bold;
  left: 50%;
}

.image__HugoBoss:hover::after,
.image__HugoBoss:focus::after {
  content: 'HugoBoss';
  position: absolute;
  top: 60%;
  color:#fff;
  font-weight: bold;
  left: 50%;
}

  /*==============News===================*/
  .news {
    margin-top: -225px;
  }
  .slider-news {
    margin: 0;
    padding: 0;
  }
  .slider__news__control__mobile {
    margin: 100px 0 0;
    padding: 0;
  }
  .news .title {
    padding-bottom: 15px;
    margin-bottom: 0;
  }
  p.news-card-title {
    font-size: 14px;
  }

  a.news-card-text {
    font-size: 14px;
  }
  .news .button.button_learn_more {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /*==============Kontakt===================*/
  .footer .title {
    margin: 20px 0 10px;
    padding: 0 0 25px 0;
  }
  .footer .main-text {
    font-size: 16px;
    line-height: 1.2;
    padding: 0;
    text-align: center;
  }

  .footer p.text {
    text-align: justify;
    padding: 0;
  }

  /*=============Form==================*/

  .contact-wrapper {
    height: 300px;
    margin: 0 auto 50px;
    padding: 10px 20px;
  }

  #upbutton {
    bottom: 5px;
    right: 5px;
    font-size: 14px;
    padding: 10px 30px 30px 10px;
    height: 70px;
    width: 30px;
  }
  .form-group .label-text{
    font-size: 14px;
  }

  .form-group input{
    font-size: 14px;
  }

  .form-group input:focus + .label-text{
    font-size: 14px;
  }

  .form-group input:valid + .label-text {
    font-size: 14px;
  }

  .form-group {
    padding-top: 25px;
    margin: 0;
  }
  
  .form-group #message{
    margin-bottom: 25px;
    border:none;
  }

  .form-group .label-text {
    text-transform: uppercase;
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
 
  .form-group input:focus + .label-text {
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  
  .form-group input:valid + .label-text {
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  
  .form-group input{
    margin-left:-3px;
  }
  
  .contact-wrapper button {
    font-size: 14px;
    padding: 7px 30px 7px 30px;
  }
}






